<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<style>
  @import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@900&display=swap');
  :host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  @font-face {
    font-family: 'Chalet NewYork', sans-serif;
    src: url(assets/font/ChaletNewYorkNineteenSixty.ttf) format("opentype");
  }

 .header {
  text-align: center;
  color: #ac3b78;
  font-size: 75px;
  font-weight: 800;
  font-family: 'Chalet NewYork', sans-serif;

  text-shadow:1px 1px 10px #fff, 1px 1px 10px #ccc;
 }

 h3{
   padding-left: 10%;
   padding-right: 10%;
   font-size: 35px;
   font-weight: 600;
   font-family: 'Chalet NewYork', sans-serif;
   color: #ffffff;
   text-shadow:1px 1px 10px #000, 1px 1px 10px #000;
 }

 .content > p {
  font-family: 'Chalet NewYork', sans-serif;
  font-size: 24px;
  padding-left: 5%;
  padding-right: 5%;
  font-weight: bolder;
  color: #ffffff;
  text-shadow:1px 1px 10px #000, 1px 1px 10px #000;
 }
 .content > div {
  font-family: 'Chalet NewYork', sans-serif;
  font-size: 45px;
  color: #ffffff;
  text-shadow:5px 5px 10px #fff, 1px 1px 10px #ccc;
  padding-left: 15%;
  padding-right: 15%;
  font-weight: bolder;
 }

 .content {
   text-align: center;
 }


 .btn-group-toggle  {
  font-family: 'Chalet NewYork', sans-serif;
  font-size: 26px;
  color: #ffffff;
  text-shadow:5px 5px 10px #000, 1px 1px 10px #ccc;
  text-align: center;
  border: 5px solid black;
  padding-bottom: 25px;
 }

 .btn-secondary > input {
  font-size: 20px;
 }

 footer {
   font-size: 50px;
   font-weight: 800;
     text-shadow:5px 5px 10px #fff, 1px 1px 10px #ccc;
     color: #ac3b78;
     text-align: center;
 }

 .envInstructions{
    font-size: 32px;
    font-weight: 500;
    text-shadow:5px 5px 10px #000, 1px 1px 10px #000;
    color: #ffffff;
    text-align: center;
    padding-bottom: 50px;
 }

 .envInstructions > label{
   color: white;
   font-size: 20px;
 }
 .maven-img > img {
  background-repeat: no-repeat;
 }
</style>

<!-- Header -->
<div class="header" role="header">
  Is that maven?
</div>

<div class="content" role="main">
<h3>Welcome to the premier web app for determining whether or not an application utilizes the maven build tool!!!</h3>
<p>The purpose of this tool is to allow users the freedom to either provide a remote git repo base url</p>
<p>Future Updates: Local project checker and additional repo service types</p>

</div>
<br>
<div class="btn-group btn-group-toggle" data-toggle="buttons">
  <p></p>
  <form>
    <label for="repo">REPOSITORY LINK(Github)</label><br>
    <div class="repo-form" style="display: inline-flex;"> 
    <input type="text" id="repo" name="repo" ><br>
    <input type="submit" value="Submit" (click)="submitRepo()">
  </div>
  </form> 
  
</div>
<br>
<!--<div class="envInstructions">
  <h3>Local Project Maven Info</h3>
  <input type="checkbox" id="pom-check" name="pom" value="pom" onclick="checkChange()"/>
	<label for="pom">Does the root folder have a pom.xml file?</label><br>
</div>-->
<div class="content">
  <div class="user-options">

	</div>
 
  <div class="maven-img">
    <img id="so-maven" style="display:none;" src="/assets/img/so_maven.jpg"  alt="So Maven">
    <img id="not-maven" style="display:none;" src="/assets/img/so_not_maven.jpg" alt="So not Maven">
   </div>
</div>
  <!-- Footer -->
  <footer>
    That's so Maven™, ¯\_(ツ)_/¯  
  </footer>
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<router-outlet></router-outlet>
